.footer__copyright {
    max-width: 19.87rem;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 478px) {
    .footer__copyright {
        padding-left: 1rem;
        max-width: 17.62rem;
        font-size: 14px;
        line-height: 17px;
    }
}