.pop-up__btnSubmit_inactive {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    color: #000000;
    opacity: 0.2;
    cursor: default;
    border: 1px solid #000000;
    border-radius: 2px;
}
.pop-up__btnSubmit_inactive:hover {
    opacity: 0.2;
}