.element__btnLike {
    cursor: pointer;
    background: url(../../../images/like.svg) center no-repeat;
    width: 21px;
    height: 19px;
    border: none;
    align-self: center;
    margin-bottom: 3px;
}

.element__btnLike:hover {
    opacity: 0.6;
    transition: opacity ease .5s;
}

.element__btnLike:focus {
    outline: none;
}