.pop-up__container {
    background-color: #ffffff;
    max-width: 26.87rem;
    margin:0 auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
}

@media screen and (max-width: 560px) {
    .pop-up__container {
        max-width: 24rem;
    }
}

@media screen and (max-width: 495px) {
    .pop-up__container {
       max-width: 19rem;
    }
}

@media screen and (max-width: 410px) {
    .pop-up__container {
       max-width: 15rem;
    }
}